{% extends 'admin/import_export/change_list_import.html' %}

{% block object-tools-items %}
    <li><a href="{% url 'admin:medicine_report_report_clear_cache' %}" class="import_link">Очистка кеша</a></li>
    <li><a href="{% url 'admin:medicine_report_report_sync' %}" class="import_link">Синхронизация отчетов</a></li>
    {{ block.super }}
{% endblock %}
