{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
    .dynamic-queries .field-sql label {
        display: none;
    }
    .original p {
        display: none;
    }
    .inline-group .tabular tr.has_original td {
        padding: 8px;
    }
    </style>

    <script>

    function initAceEditor(id) {
        id = '#' + id;
        var textarea = django.jQuery(id).hide();
        django.jQuery(id).after('<div id="' + id + '_editor"></div>');
        var editor = ace.edit(id + '_editor');
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/sql");
        editor.setOptions({
            fontSize: '14px',
            minLines: 10,
            maxLines: Infinity,
            enableBasicAutocompletion: true
        });
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
          textarea.val(editor.getSession().getValue());
        });
    }

    django.jQuery().ready(function () {
      django.jQuery.each(django.jQuery('#queries-group').find('.has_original').find('textarea'), function() {
        initAceEditor(django.jQuery(this).attr('id'));
      });

      django.jQuery('#queries-group').find('.add-row a').click(function () {
        var textarea = django.jQuery('.dynamic-queries:last').find('textarea');
        initAceEditor(textarea.attr('id'));
      });
    });
    </script>
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
{% endblock %}
