{% verbatim %}
{% for _, result in results.items() %}
{% set columns=result.columns %}
{% set lines=result.lines %}
<table border="1" freeze="1" class="table table-default table-report">
    {% if result.title %}<caption>{{ result.title }}</caption>{% endif %}
    <thead>
        {% if filter.display %}
        <tr>
            <th colspan="{{ columns|length }}">{{ filter.display }}</th>
        </tr>
        {% endif %}
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for line in lines %}
        <tr>
            {% for name, value in line.items() %}
                {% set value_type = value|value_type %}
                <td data_type="{{ value_type }}">{% if value_type == 'str' %}{% if value %}{{ value|linebreaksbr }}{% else %}-{% endif %}{% else %}{{ value }}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endverbatim %}
